html, body, header, footer, 
nav, ul, li, hr, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Rubik', sans-serif;
	vertical-align: baseline;
}

.navbar {
	margin-bottom: 0;
}
.navbar-default {
	background-color: #fff;
	height: 6em;
}

.navbar-brand, .navbar-nav {
	padding-top: 1.5em;
	padding-left: 1.5em;
	background-color: #fff;
}

.navbar-toggle {
	margin-top: 1.5em;
}

.navbar-default .navbar-toggle:focus,
 .navbar-default .navbar-toggle:hover {
	background-color: #fff;
}

/*#landing {
	display: inline-block;
	text-align: center;
}*/

#cardBtn {
	position: absolute;
	top: 22em;
	left: 7.5em;
}

h1 {
	font-size: 48px;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
	/*text-shadow: 1.5px 1.5px #B5B5B5;*/
}

#cardIntro {
	text-align: center;
}

#nerdHeader {
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
}

#container{
	-webkit-transition: all 0.2s ease-out; /* Safari */
    transition: all 0.2s ease-out;
}

#container:hover {
	background-color: #E7E7E7;
	opacity: 1;
	border-radius: 5px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.search {
	text-align: center;
}

span {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16px;
}

.info {
	padding: 10px 0 10px 0;
}

.img-responsive {
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2)
}

#cardPics:hover {
	opacity: .85;
}

#cardImg {
	padding-top: 2em;
}

.btn-default {
	text-decoration: none;
	background-color: #6ed14f;
	outline-color: #6ed14f;
	border-color: #6ed14f;
	color: #fff;
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    margin-bottom: 1em;
}

.btn-default:hover,
.btn-default:active, .btn-default:focus {
	text-decoration: none;
	background-color: #4CAF50;
	outline-color: #4CAF50;
	border-color: #4CAF50;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2)
}

#backToTop, #backToTop:hover,
#backtoTop:clicked, #backToTop:focus {
	color: #00BEE2;
	text-decoration: none;
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

#cardPage {
	padding-top: 25px;
	padding-bottom: 25px;
}

.creditCards.ng-enter.ng-enter-active,
.creditCards.ng-leave {
	opacity: 1;
	height: 80px;
	overflow: hidden;
}

.creditCards.ng-leave.ng-eleave-active,
.creditCards.ng-enter {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

#pageFooter {
	background-color: #464646;
	height: 7em;
	left: 10px;
}

#footerNav > ul {
	padding-top: 45px;
	padding-right: 3.5em;
}

#footerNav > ul li {
	float: right;
	display: inline-block;
	padding: 0px 30px 0px 30px;

}

#footerNav > ul li a {
	text-decoration: none;
	color: #fff;
	transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;

}

#footerNav > ul li a:hover {
	color: #30C4E7;

}

#footerImg {
	float: left;
	padding-top: 40px;
}
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

@media(max-width: 975px) {
	#cardBtn {
		display: none;
	}
}

@media(max-width: 800px) {
	#container:hover {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	}
}

@media(max-width: 560px) {
	#footerNav > ul li {
		padding: 0px 10px 0px 10px;
	}@media(max-width: 335px) {
		#footerNav > ul li {
			padding: 0px 5px 0px 5px;
		}@media(max-width: 300px) {
			#footer > ul li {
				padding: 0px;
				font-size: 8px;
			}
		}
	}
}

@media(max-width: 300px) {
	#footerNav > ul {
		padding-top: 20px;
	}
}

@media(max-width: 430px) {
	#footerImg {
		padding-top: 10px;
	}@media(max-width: 315px) {
		#footerImg {
			padding-top: 5px;
		}
	}
}

@media(max-width: 270px) {
	.navbar-brand {
		padding-left: 0.5em;
	}@media(max-width: 270px) {
		h1 {
			font-size: 36px;
		}
	}
}